<% layout('../portal_layout') %>
<% include ../left_header %>
<div id="wrapper">
    <!-- Navigation -->
      <div data-ng-include="'templates/header_with_left.html'"></div>
      <div id="wrapper">
          <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header page_title">Manage Reviews</h1>
                  </div>
              </div>

    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <div class="dataTable_wrapper">
              
              <% if(typeof SessionData.user_type!=undefined && (SessionData.user_type=='1')){ %>
              <div id="dataTableApnd_filter" class="dataTables_filter" style="float:left;">
                <label>
                  <select class="form-control input-sm" name="foodcourt_list" aria-controls="dataTableApnd"  data-select_val="<%=req_foodcourt_id%>" >
                    <option value="">---Select Food Court---</option>
                  </select>
                  
                </label>
              </div>
              <% }if(typeof SessionData.user_type!==undefined && (SessionData.user_type=='2' || SessionData.user_type=='1')){ %>
              &nbsp;&nbsp;
              <div id="dataTableApnd_filter" class="dataTables_filter" style="float:left; margin-left:10px;">
                <label>
                  <select class="form-control input-sm" name="restaurant_list" aria-controls="dataTableApnd"  data-select_val="<%=req_restaurant_id%>" >
                    <option value="">---Select Restaurant---</option>
                  </select>
                  
                </label>
              </div>
              <%}%>
      
       <table class="table" id="dataTableApnd">
          <thead>
              <tr>
                  <th>SL</th>
                  <th>Review By</th>
                  <th>Review To </th>
                  <th>Comment</th>
                  <th>Date</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <% if(typeof reviews!='undefined' && reviews.length>0){ %>
                <% var counter=1 %>
                <% for(var i=0; i < reviews.length; i++) { %>
                  <tr>
                      <td><%= counter++ %></td>
                      <td><%=reviews[i].users.full_name %></td>
                      <td><%= reviews[i].restaurants.full_name %></td>
                      <td><%= reviews[i].comment %></td>
                      <td>
                        <%= reviews[i].review_date %>
                       
                      </td>
                      <td>
                        <% if(reviews[i].status=='0'){ %>
                        <a href="/portal/review/changestatus?action=approve&id=<%=reviews[i].id%>">
                          <img src="/static/assets/images/active.png" class="status_icon"  alt="Click to Approve" title="Click to Approve">
                        </a>
                        <a href="/portal/review/changestatus?action=delete&id=<%=reviews[i].id%>">
                            <img src="/static/assets/images/delete.png" class="status_icon"  alt="Click to Delete" title="Click to Delete">
                        </a>
                        <% }else if(reviews[i].status=='1'){ %>
                          <a href="/portal/review/changestatus?action=delete&id=<%=reviews[i].id%>">
                            <img src="/static/assets/images/delete.png" class="status_icon"  alt="Click to Delete" title="Click to Delete">
                          </a>
                        <% } %>
                      </tr>
                <% } %>
              <% }%>
                  
          </tbody>
      </table>
  </div>
  </div>
  </div>
  </div>
  </div>
    </div>
  </div>
  </div>
  <script>
    $(document).ready(function() {
      $('#dataTableApnd').DataTable({
            responsive: true,
            "ordering": false,
            "info":     false,
            "oLanguage":{
            "sEmptyTable":"No Records found.",
            "emptyTable": "No Records found.",
            },
            "language": {
                "emptyTable": "No Records found.",
            },
            "aoColumnDefs" : [ { "bSortable" : false, "aTargets" : [ "sorting_disabled" ] } ],
            "iDisplayLength": '10', //Pagination limit
        });
      
     
      });
    
     $('select[name="foodcourt_list"]').change(function(){
      window.location.assign("/portal/reviews/?foodcourt="+$(this).val());
    });
     $('select[name="restaurant_list"]').change(function(){
      window.location.assign("/portal/reviews/?restaurant="+$(this).val());
    });
    </script>    
    
     <% if(typeof SessionData.user_type!=undefined && (SessionData.user_type=='1')){ %>
     <script>
      $(document).ready(function() {
       $.get('/portal/foodcourt_list/',function(resp_data){
            if(resp_data.foodcourt!==undefined){
              $.each(resp_data.foodcourt,function(key,val){
                var selected="";
                if(val.id==$("select[name='foodcourt_list']").data('select_val')){
                  selected="selected";
                }
                $('select[name="foodcourt_list"]').append('<option value="'+val.id+'" '+selected+'>'+val.full_name+'</option>');
              });
            }
          }); 
      });
     </script>
     
     <% }if(typeof SessionData.user_type!=undefined && (SessionData.user_type=='2' || SessionData.user_type=='1')){ %>
     <script>
      $(document).ready(function() {
       $.get('/portal/restaurant_list_by_ajax/',function(resp_data){
            if(resp_data.foodcourt!==undefined){
              $.each(resp_data.foodcourt,function(key,val){
                var selected="";
                if(val.id==$("select[name='restaurant_list']").data('select_val')){
                  selected="selected";
                }
                $('select[name="restaurant_list"]').append('<option value="'+val.id+'" '+selected+'>'+val.full_name+'</option>');
              });
            }
          }); 
      });
      </script>
     <%}%>