      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Foodcourt Detail</h4>
      </div>
      <div class="modal-body" data-ng-if="customerCtrl.customerDetail">
      <div class="col-lg-12">
          <div class="col-xs-7 modal-image-container">
              <a href="javascript:void(0)" class="thumbnail">
                  <img src="/static/assets/upload/xx.jpg" class="img-rounded center-block" alt="Cinque Terre">
              </a>
          </div>
        </div>
        <% if(dataJsonArr.data!=undefined && dataJsonArr.status!=undefined && dataJsonArr.status=='success'){ %>
            <% for(var i=0;i<dataJsonArr.data.length;i++){ %>
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Invoice No</td>
                            <td><%= dataJsonArr.data[i].invoice_id %></td>
                        </tr>
                        <tr>
                            <td>Subtotal Amount</td>
                            <td><%= dataJsonArr.data[i].orderMaster.sub_total_amount %></td>
                        </tr>
                        <tr>
                            <td>Total Amount</td>
                            <td><%= dataJsonArr.data[i].orderMaster.total_amount %></td>
                        </tr>
                        <tr>
                            <td>Order Date</td>
                            <td><%= dataJsonArr.data[i].order_date %></td>
                        </tr>
                        <tr>
                            <td>Restaurant Name</td>
                            <td><%= dataJsonArr.data[i].restaurant.full_name %></td>
                        </tr>
                        <tr>
                            <td>Customer Name</td>
                            <td><%= dataJsonArr.data[i].orderMaster.customer.full_name %></td>
                        </tr>
                        <tr>
                            <td>Bill Address</td>
                            <td>
                                Phone no:<%= dataJsonArr.data[i].billAddress.phone_no %>,
                                State:<%= dataJsonArr.data[i].billAddress.state.name %>
                                City:<%= dataJsonArr.data[i].billAddress.city.name %>
                                Zip:<%= dataJsonArr.data[i].billAddress.zip_code %>
                            </td>
                        </tr>
                        <tr>
                            <td>Ship Address</td>
                            <td>
                                Phone no:<%= dataJsonArr.data[i].shipAddress.phone_no %>,
                                State:<%= dataJsonArr.data[i].shipAddress.state.name %>
                                City:<%= dataJsonArr.data[i].shipAddress.city.name %>
                                Zip:<%= dataJsonArr.data[i].shipAddress.zip_code %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <% } %>
        <% }else{ %>
         <tbody><tr>No Order Found.</tr></tbody>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>