<% layout('../portal_layout') %>
<% include ../left_header %>
<div id="wrapper">
    <!-- Navigation -->
      <div data-ng-include="'templates/header_with_left.html'"></div>
      <div id="wrapper">
          <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header page_title">Order List</h1>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-12">
                      <div class="panel panel-default">
                          <!--<div class="panel-heading">
                              Basic Table
                          </div>-->
                          <div class="panel-body">
                              <div class="table-responsive">
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th>SL</th>
                                              <th>Reataurant</th>
                                              <th>Order QTY</th>
                                              <th>Amount</th>
                                              <th>Order Date</th>
                                              <th>Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                      <% if(typeof orders!='undefined' && orders.length>0 ){ %>
                                        <% var counter=1 %>
                                        <% for(var i=0; i < orders.length; i++) { %>
                                            <tr>
                                                <td><%= counter++ %></td>
                                                <td><%= orders[i].restaurant.full_name %></td>
                                                <td><%= orders[i].qty %></td>
                                                <td><%= orders[i].price %></td>
                                                <td><%= orders[i].order_date %>
                                                </td>
                                                <td>
                                                <a href="javascript:void(0)" alt="View Detail" title="View Detail" data-toggle="modal" data-target="#popup" class="pop-link" data-href="/portal/order/view/<%=orders[i].id%>"><img src="/static/assets/images/info.png" class="status_icon"></a>
                                              </td>
                                            </tr>
                                        
                                        <% } %>
                                      <% }else{ %>
                                          <tr><td align="center" colspan="6">No Result Found.</td></tr>
                                      <% } %>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>