<% layout('../portal_layout') %>
<% include ../left_header %>
<div id="wrapper">
    <!-- Navigation -->
      <div data-ng-include="'templates/header_with_left.html'"></div>
      <div id="wrapper">
          <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header page_title">Foodcourt List</h1>
                  </div>
                  <div class="col-lg-2 add_btn" >
                    <a class="btn btn-success" href="/portal/foodcourt/add">Add Foodcourt</a>
                  </div>
              </div>

    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <!--<div class="panel-heading">
    Basic Table
    </div>-->
    <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>SL</th>
                  <th>Name</th>
                  <th>Email </th>
                  <th>Phone</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <% if(dataJsonArr.data!=undefined && dataJsonArr.data.length>0 && (dataJsonArr.status!=undefined && dataJsonArr.status=='success')){ %>
                <% var counter=1 %>
                <% for(var i=0; i < dataJsonArr.data.length; i++) { %>
                  <tr>
                        <td><%= counter++ %></td>
                        <td><%= dataJsonArr.data[i].full_name %></td>
                        <td><%= dataJsonArr.data[i].email %></td>
                        <td> <%= dataJsonArr.data[i].phone_no %></td>
                        <td><span><%=dataJsonArr.data[i].status==1?'Active':'Inactive'%></span> </td>
                        <td>
                          <a href="javascript:void(0)"  alt="View Detail" title="View Detail" data-toggle="modal" data-target="#popup" class="pop-link" data-href="/portal/feedcourt/view/<%=dataJsonArr.data[i].id%>"><img src="/static/assets/images/info.png" class="status_icon"></a>
                          
                          <a href="/portal/foodcourt/restaurants/<%= dataJsonArr.data[i].id %>"  alt="View Restaurants" title="View Restaurants"><img src="/static/assets/images/restaurant_64.png" class="status_icon"></a>
                          
                          <a href="/portal/foodcourt/changestatus/<%=dataJsonArr.data[i].id%>">
                            <% if(dataJsonArr.data[i].status==0){ %>
                                <img src="/static/assets/images/inactive.png" class="status_icon"  alt="Click to Inactive" title="Click to Inactive">
                            <% }else if(dataJsonArr.data[i].status==1){ %>
                                <img src="/static/assets/images/active.png" class="status_icon"  alt="Click to Active" title="Click to Active">
                            <% } %>
                          </a>
                        </td>
                  </tr>
                <% } %>
              <% }else{ %>
                  <tr><td align="center" colspan="6">No Result Found.</td></tr>
              <% } %>
          </tbody>
      </table>
  </div>
  </div>
  </div>
  </div>
  </div>
    </div>
  </div>
  </div>