      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Foodcourt</h4>
      </div>
      <form role="form" method="post" action="/portal/foodcourt/edit/<%=foodcourts.id%>" id="addFoodcourtForm" name="addFoodcourt" enctype="multipart/form-data" >
        <input  type="hidden" name="foodcourt_id" value="<%=foodcourts.id%>" >
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Name:</label>
                  <input  type="text" name="full_name" value="<%=foodcourts.full_name%>" class="form-control required" autofocus >
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Email:</label>
                  <input  type="email" name="email" value="<%=foodcourts.email%>" class="form-control" readonly="readonly" id="email">
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Phone Number:</label>
                  <input  type="text" name="phone_no" value="<%=foodcourts.phone_no%>"  class="form-control required number" >
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label>State:</label>
                    <select class="form-control required" name="state" data-select="<%=foodcourts.addresses.state.id%>">
                        <option value="">---Select State---</option>
                    </select>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label>City:</label>
                    <select class="form-control required" name="city" data-select="<%=foodcourts.addresses.city.id%>">
                        <option value="">---Select City---</option>
                    </select>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Zip:</label>
                  <input type="text" class="form-control required" name="zip" value="<%=foodcourts.addresses.zip_code%>">
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Image:</label>
                  <input type="file" class="form-control" name="image">
                </div>
                </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary cancel" data-dismiss="modal">Cancel</button>
      </div>
      </form>
      
<script>
	$(document).ready(function(){
  	  $("#addFoodcourtForm").validate({
				// rules: {
				// 	cpassword:{equalTo: "#password"},
				// },
				// submitHandler : function(form) {
				//   $('button').prop('disabled',true);
				//   $.post('/portal/emailexist',{email:$('#email').val()},function(data) {
    //       if(data.status){
    //         $('#email').after('<label for="email" generated="true" class="error">Email address exist, please enter other email address.</label>');
    //         $('button').prop('disabled',false);
    //       } else {
    //         form.submit();
    //       }
    //     });
				// }
			});
			$.get('/portal/state',function(data) {
        $.each(data.state,function(idx,val){
          var selected="";
            if(val.id==$("select[name='state']").data('select')){
              selected="selected";
              get_city($("select[name='state']").data('select'));
            }
          $("select[name='state']").append('<option value="'+val.id+'" '+selected+'>'+val.name+'</option>');
        });
      });
      
   	  $('select[name="state"]').change(function(){
        $("select[name='city']").html('<option value="">---Select City---</option>');
      	$.get('/portal/city/'+$(this).val(),function(data) {
            $.each(data.city,function(idx,val){
              $("select[name='city']").append('<option value="'+val.id+'">'+val.name+'</option>');
            });
          });
      });
	});
	function get_city(state_id=null){
    if(state_id!=null){
      $("select[name='city']").html('<option value="">---Select City---</option>');
    	$.get('/portal/city/'+state_id,function(data) {
          $.each(data.city,function(idx,val){
            var selected="";
            if(val.id==$("select[name='city']").data('select')){
              selected="selected";
            }
            $("select[name='city']").append('<option value="'+val.id+'" '+selected+'>'+val.name+'</option>');
          });
        });
    }
  }

</script>